[run]
# Schließt Verzeichnisse bereits bei der Aufzeichnung aus
omit =
    .venv/*
    */migrations/*
    */tests/*
    manage.py
    komserv/settings/__init__.py
[html]
# Zielordner für den HTML-Bericht
directory = htmlcov

