Django==5.2.17
django-bootstrap5
django-simple-history
django-leaflet
django-tables2
django-debug-toolbar
django-filter
django-crispy-forms
crispy-bootstrap5
requests
openpyxl
mappyfile
mapscript==8.4.0
slugify
python-magic
django-select2
django-autocomplete-light
sphinx
django-docs
sphinx-rtd-theme
Pillow
django-organizations
django-formset==1.7.9
django-simple-captcha
clamd
django-clamd
psycopg2
reportlab
pydantic==2.12.5