<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
    <p>
        Ihr Antrag auf Administrationsadmin für folgende Gebietskörperschaften wurde bestätigt:
    </p>
    <p>
        <ul>
            {% for organization in organizations %}
            <li>{{ organization.name }} ({{ organization.ls }}{{ organization.ks }}{{ organization.gs }})</li>
            {% endfor %}
        </ul>
    </p>
    <p>

    </p>
<hr />
<p>Ihr XPlanung-light Team:</p>
{{ metadata_contact.organization_name }}<br>
{{ metadata_contact.phone }}<br>
<a href="mailto:{{ metadata_contact.email }}">{{ metadata_contact.email }}</a><br>
</body>
</html>