<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="XPlanung, Django, Formular, Easy, kostenfrei, Open Source, light"/>
    <title></title>
</head>
<body>
Vielen Dank für Ihre Stellungnahme.<br>
Die Stellungnahme ist im System registriert, muss aber noch bestätigt werden:<br><br>
<a href="{{ activation_link }}">{{ activation_link }}</a><br><br>
Sie können den Link auch bis zum Ende des Beteiligungsverfahrens am {{ end_datum }} nutzen, 
um ihre Stellungnahme zurückzuziehen.<br><br>
Rückfragen zum Verfahren:<br>
{% for contact in contacts %}
{{ contact.name }}<br>
{{ contact.phone }}<br>
<a href="mailto:{{ contact.email }}">{{ contact.email }}</a><br>
{% endfor %}
________________________<br>
Ihr XPlanung-light Team:<br>
{{ metadata_contact.organization_name }}<br>
{{ metadata_contact.phone }}<br>
<a href="mailto:{{ metadata_contact.email }}">{{ metadata_contact.email }}</a><br>
</body>
</html>