{% extends "xplanung_light/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>Einfache Webanwendung zur Verwaltung und Publikation kommunaler Pläne gemäß dem aktuellen Standard <a href="https://xleitstelle.de/xplanung" target="_blank">XPlanung</a></p>
<p>Der Betreiber übernimmt keinerlei Verantwortung für die Funktionsfähigkeit und Zuverlässigkeit der Anwendung. Es handelt sich aktuell um ein <b>Proof of Concept</b>.
Solange die Anwendung online ist, kann und darf sie von jedermann kostenfrei verwendet werden. 
<h4>Funktionen</h4>
<ul>
    <li>Dashboard</li>
    <li>Admin-Backend</li>
    <li>Organisations-Registry</li>
    <li>CRUD XPlan</li>
    <li>Historisierung von XPlan und AdministrativeOrganisation</li>
    <li>CRUD Anlagen</li>
    <li>Import XPlan-GML/zip (6.0, 5.1, ...)</li>
    <li>Export XPlan-GML/zip (6.0)</li>
    <li>WMS/WFS powered by <a href="https://mapserver.org/" target="_blank">Mapserver</a></li>
    <li>ISO19139 Metadaten Export</li>
    <li>...</li>
</ul>
<h4>Weitere Informationen</h4>
<ul>
    <li><a href="https://github.com/mrmap-community/xplanung_light" target="_blank">Projekt auf GitHub</a></li>
    <li><a href="https://xleitstelle.de/releases/objektartenkatalog_6_1" target="_blank">Objektartenkatalog</a></li>
    <li><a href="https://docs.fitko.de/fit-standards/xplanung/" target="_blank">Standard</a></li>
</ul>
<h4>Validatoren</h4>
<ul>
    <li><a href="https://www.xplanungsplattform.de/xplan-validator/" target="_blank">Validator</a></li>
</ul>
{% endblock %}