{% extends "xplanung_light/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Organisation bearbeiten
{% endblock %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.js"></script>
<h3>{{ administrativeorganization.name }}{%if administrativeorganization.name_part %} - {{ administrativeorganization.name_part }}{% endif %}</h3>
<h3>{{ administrativeorganization.ags }}{%if administrativeorganization.ts %} - {{ administrativeorganization.ts }}{% endif %}</h3>

<!-- https://simpleisbetterthancomplex.com/tutorial/2018/11/28/advanced-form-rendering-with-django-crispy-forms.html -->
{% crispy form %}
{% endblock %}