{% extends "xplanung_light/layout.html" %}
{% load django_bootstrap5 %}

{% load render_form from formsetify %}
{% bootstrap_css %}
{% block title %}
    Beitrag im Beteiligungsverfahren zum Bebauungsplan
{% endblock %}
{% block content %}
<p>Beteiligung zum Bebauungsplan <b>{{ bplan.name }}</b> der Kommune(n):<br>
    <ul>
        {% for gemeinde in bplan.gemeinde.all %}<li>{{ gemeinde }}</li>{% endfor %}
    </ul>
</p>  

<django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
  {% render_form form "bootstrap" field_classes="mb-2" form_classes="rounded-xl" %}
  <div>
    <button type="button" class="btn btn-primary" df-click="submit -> proceed">Erstellen</button>
  </div>
</django-formset> 



{% endblock %}