{% extends "xplanung_light/layout.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Bebauungsplan anlegen
{% endblock %}
{% block content %}
<script type="text/javascript">
    window.addEventListener("map:init", function(e) {
            var detail = e.detail;
            var map = detail.map;
            /* Transparent overlay layers */
            var wmsLayer = L.tileLayer.wms('https://geo5.service24.rlp.de/wms/liegenschaften_rp.fcgi?', {
                layers: 'Flurstueck',
                format: 'image/png',
                maxZoom: 20,
                transparent: true,
            }).addTo(map);
        }, false
    ); //end of window.addEventListener
    // function for zooming to some extent - https://django-leaflet.readthedocs.io/en/latest/widget.html#programmatically-appended-maps
    function zoomToExtent(select) {
        var selectedOption = select.options[select.selectedIndex];
        var bbox = selectedOption.getAttribute('bbox');
        bbox = bbox.replace("(", "").replace(")", "").split(",");
        console.log(bbox)
        window['leafletmapid_geltungsbereich-map'].fitBounds([[ bbox[1], bbox[0] ], [bbox[3], bbox[2]]]);
    }
</script>
<!-- https://simpleisbetterthancomplex.com/tutorial/2018/11/28/advanced-form-rendering-with-django-crispy-forms.html -->
{% crispy form %}
{% endblock %}