{% extends "xplanung_light/layout.html" %}
{% block title %}
 Beteiligungsverfahren zum Bebauungsplan
{% endblock %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% block content %}
<p>Beteiligungen zum Bebauungsplan <b>{{ bplan.name }}</b> der Kommune(n):<br>
    <ul>
        {% for gemeinde in bplan.gemeinde.all %}<li>{{ gemeinde }}</li>{% endfor %}
    </ul>
</p>  
<p><a href="{% url 'bplanbeteiligung-create' bplanid=bplanid %}">Neue Beteiligung erstellen</a></p>
{% render_table table %}
<p>Anzahl: {{ bplanbeteiligung_list.count }}</p>
{% endblock %}