
{% extends "xplanung_light/layout.html" %}
{% block title %}
    Bebauungsplan editieren
{% endblock %}
{% block content %}
<script type="text/javascript">
    window.addEventListener("map:init", function(e) {
            var detail = e.detail;
            var map = detail.map;
            {% if further_base_layers %}
            var layerControl = L.control.layers().addTo(map);
            {% endif %}
            {% for base_layer in further_base_layers %}
            var {{ base_layer.name }} = L.tileLayer.wms('{{ base_layer.url }}?', {
                        layers: '{{ base_layer.layer_name }}',
                        format: 'image/png',
                        maxZoom: 20,
                        transparent: true,
                        attribution: '{{ base_layer.attribution }}',
            }).addTo(map);
            layerControl.addBaseLayer({{ base_layer.name }}, "{{ base_layer.title }}");
            {% endfor %}
            {% if overlay_layers %}
            {% for layer in overlay_layers %}
            var {{ layer.name }} = L.tileLayer.wms('{{ layer.url }}', {
                        layers: '{{ layer.layer_name }}',
                        format: 'image/png',
                        maxZoom: 20,
                        transparent: true,
                        attribution: '{{ layer.attribution }}',
            }).addTo(map);
            layerControl.addOverlay({{ layer.name }}, "{{ layer.title }}");
            {% endfor %}
            {% endif %}
            // and many more
        }, false
    ); //end of window.addEventListener
    // function for zooming to some extent - https://django-leaflet.readthedocs.io/en/latest/widget.html#programmatically-appended-maps
    function zoomToExtent(select) {
        var selectedOption = select.options[select.selectedIndex];
        var bbox = selectedOption.getAttribute('bbox');
        bbox = bbox.replace("(", "").replace(")", "").split(",");
        console.log(bbox)
        window['leafletmapid_geltungsbereich-map'].fitBounds([[ bbox[1], bbox[0] ], [bbox[3], bbox[2]]]);
    }
</script>
    <form method="post" class="geocoding-form">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Aktualisieren">
    </form>
{% endblock %}