
{% extends "xplanung_light/xplan_detail_top.html" %}

{% block title %}
<center>
<h3>Bebauungsplan "<b>{{ bplan.name }}</b>"</h3>
</center>
<center>
{% for gemeinde in bplan.gemeinde.all %}
    <img width="120px" height="132px" src="{{ gemeinde.coat_of_arms_url }}">
{% endfor %}
</center>
<center>{{ bplan.gemeinde.all|join:" | " }}</center>
<center>Inkraft seit: <b>{{ bplan.inkrafttretens_datum }}</b></center>
{% endblock %}
{% block content %}
<table class="table">
  <thead>
   <!-- <tr>
      <th scope="col">Attribut</th>
      <th scope="col">Wert</th>
    </tr> -->
  </thead>
  <tbody>
    <tr>
      <th scope="row">Lage (Übersicht)</th>
      {% if gemeinden_extent %}
      <td><img width="200px" height="200px" src="{% url 'bplan-overview-map' pk=bplan.id%}?VERSION=1.3.0&REQUEST=GetMap&SERVICE=WMS&LAYERS=topplus,umring&STYLES=,&CRS=EPSG:25832&BBOX={{gemeinden_extent.0}},{{gemeinden_extent.1}},{{gemeinden_extent.2}},{{gemeinden_extent.3}}&WIDTH=200&HEIGHT=200&FORMAT=image/png&BGCOLOR=0xffffff&TRANSPARENT=TRUE&EXCEPTIONS=inimage"></td>
      {% endif %}
    </tr>
    <tr>
      <th scope="row">Lage (Detail)</th>
            <td><img width="200px" height="200px" src="{% url 'bplan-overview-map' pk=bplan.id%}?VERSION=1.3.0&REQUEST=GetMap&SERVICE=WMS&LAYERS=topplus,umring&STYLES=,&CRS=EPSG:25832&BBOX={{extent.0}},{{extent.1}},{{extent.2}},{{extent.3}}&WIDTH=200&HEIGHT=200&FORMAT=image/png&BGCOLOR=0xffffff&TRANSPARENT=TRUE&EXCEPTIONS=inimage"></td>
    </tr>
    <tr>
      <th scope="row">Planart</th>
      <td>{{ bplan.get_planart_display }}</td>
    </tr>
    <tr>
      <th scope="row">Name des Plans</th>
      <td>{{ bplan.name }}</td>
    </tr>
    <tr>
      <th scope="row">Nummer des Plans</th>
      <td>{{ bplan.nummer }}</td>
    </tr>
    <tr>
      <th scope="row">Kommentierende Beschreibung des Bebauungsplans</th>
      {% if bplan.beschreibung %}
      <td>{{ bplan.beschreibung }}</td>
      {% else %}
      <td>Bebauungsplan "<b>{{ bplan.name }}</b>" der Kommune(n): {{ bplan.gemeinde.all|join:", " }}</td>
      {% endif %}
    </tr>
    <tr>
      <th scope="row">Amtliche(r) Gemeindeschlüssel (AGS)</th>
      <td>{% for single_gemeinde in bplan.gemeinde.all %}{{ single_gemeinde.ls }}{{ single_gemeinde.ks }}{{ single_gemeinde.gs }};{% endfor %}</td>
    </tr>
    <tr>
      <th scope="row">Rechtsstand</th>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Erstellungsmassstab</th>
      <td>{{ bplan.massstab|default:"--" }}</td>
    </tr>
    {% if bplan.attachments %}
    <tr>
      <td colspan="2">
        <table class="table mb-0">
          <tr>
            <thead>
              <b>Dokumente</b>
            </thead>
          </tr>
          {% for anlage in bplan.attachments.all %}
          <tr>
            <td><a href="{% url 'bplanattachment-download' pk=anlage.id %}">{{ anlage.name }} (<i>{{ anlage.get_typ_display }})</a></td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    {% endif %}
    {% if bplan.beteiligungen %}
    <tr>
      <td colspan="2">
        <table class="table mb-0">
          <tr>
            <thead>
              <b>Beteiligungsverfahren</b>
            </thead>
          </tr>
          {% for beteiligung in bplan.beteiligungen.all %}
          <tr>
            <td>{{ beteiligung.bekanntmachung_datum }}: <a href="">{{beteiligung.get_typ_display }}</a></td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="2">
        <table class="table mb-0">
          <tr>
            <thead>
              <b>Historie</b>
            </thead>
          </tr>
          <tr>
            <th scope="row">Aufstellungsbeschluss</th>
            <td>{{ bplan.aufstellungsbeschluss_datum }}</td>
          </tr>
          {% if bplan.satzungsbeschluss_datum %}
          <tr>
            <th scope="row">Satzungsbeschluss</th>
            <td>{{ bplan.satzungsbeschluss_datum }}</td>
          </tr>
          {% endif %}
          {% if bplan.rechtsverordnungs_datum %}
          <tr>
            <th scope="row">Rechtsverordnung</th>
            <td>{{ bplan.rechtsverordnungs_datum }}</td>
          </tr>
          {% endif %}
          <tr>
            <th scope="row">Ausfertigung</th>
            <td>{{ plan.ausfertigungs_datum }}</td>
          </tr>
          <tr>
            <th scope="row">Inkrafttreten</th>
            <td>{{ bplan.inkrafttretens_datum }}</td>
          </tr>
        </table>
      </td>
    </tr>
    {% if bplan.gemeinde %}
    <tr>
      <td colspan="2">
        <table class="table mb-0">
          <tr>
            <thead>
              <b>Auskunft</b>
            </thead>
          </tr>
          <tr>
          {% for gemeinde in bplan.gemeinde.all %}
            <td>
              <b>{{ gemeinde }}</b><br>
              {{ gemeinde.contacts.first.name }} - {{ gemeinde.contacts.first.unit }}<br>
              <a href="mailto:gemeinde.contacts.first.email">{{ gemeinde.contacts.first.email }}</a><br>
              <b>Tel.:</b> {{ gemeinde.contacts.first.phone }}<br>
              <b>Fax.:</b> {{ gemeinde.contacts.first.facsimile }}
            </td>
          {% endfor %}
          </tr>
        </table>
      </td>
    </tr>
    {% endif %}
    <tr>
      <th scope="row">XPlan-GML V {% if bplan.xplan_gml_version %}{{ bplan.xplan_gml_version }}{% else %}6.0{% endif %}</th>
      <td><a href="{% url 'bplan-export-xplan-raster-6' pk=bplan.id %}">GML herunterladen</a></td>
    </tr>
    <tr>
      <th scope="row">XPlan-ZIP-Archiv V {% if bplan.xplan_gml_version %}{{ bplan.xplan_gml_version }}{% else %}6.0{% endif %}</th>
      <td><a href="{% url 'bplan-export-xplan-raster-6-zip' pk=bplan.id %}">ZIP-Archiv herunterladen</a></td>
    </tr>
    <tr>
      <th scope="row">Geo-Metadaten (ISO19139)</th>
      <td><a href="{% url 'bplan-export-iso19139' pk=bplan.id %}">GML herunterladen</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}