
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load leaflet_tags %}
{% block title %}
<center>
<h3>Bebauungsplan "<b>{{ bplan.name }}</b>"</h3>
</center>
<center>
{% for gemeinde in bplan.gemeinde.all %}
    <img width="120px" height="132px" src="{{ gemeinde.coat_of_arms_url }}">
{% endfor %}
</center>
<center>{{ bplan.gemeinde.all|join:" | " }}</center>
<center>Inkraft seit: <b>{{ bplan.inkrafttretens_datum }}</b></center>
{% endblock %}
{% block content %}
<table class="table">
  <thead>
   <!-- <tr>
      <th scope="col">Attribut</th>
      <th scope="col">Wert</th>
    </tr> -->
  </thead>
  <tbody>
    <tr>
      <th scope="row">Lage (Übersicht)</th>
      <td><img width="400px" height="200px" src="{% url 'bplan-overview-map' pk=bplan.id%}?VERSION=1.3.0&REQUEST=GetMap&SERVICE=WMS&LAYERS=topplus,umring&STYLES=,&CRS=EPSG:25832&BBOX={{gemeinden_extent.0}},{{gemeinden_extent.1}},{{gemeinden_extent.2}},{{gemeinden_extent.3}}&WIDTH=400&HEIGHT=200&FORMAT=image/png&BGCOLOR=0xffffff&TRANSPARENT=TRUE&EXCEPTIONS=inimage"></td>
    </tr>
    <tr>
      <th scope="row">Lage (Detail)</th>
            <td><img width="400px" height="200px" src="{% url 'bplan-overview-map' pk=bplan.id%}?VERSION=1.3.0&REQUEST=GetMap&SERVICE=WMS&LAYERS=topplus,umring&STYLES=,&CRS=EPSG:25832&BBOX={{extent.0}},{{extent.1}},{{extent.2}},{{extent.3}}&WIDTH=400&HEIGHT=200&FORMAT=image/png&BGCOLOR=0xffffff&TRANSPARENT=TRUE&EXCEPTIONS=inimage"></td>
    </tr>
    <tr>
      <th scope="row">Planart</th>
      <td>{{ bplan.get_planart_display }}</td>
    </tr>
    <tr>
      <th scope="row">Name des Plans</th>
      <td>{{ bplan.name }}</td>
    </tr>
    <tr>
      <th scope="row">Nummer des Plans</th>
      <td>{{ bplan.nummer }}</td>
    </tr>
    <tr>
      <th scope="row"><s>Name der Änderung des Plans</s></th>
      <td></td>
    </tr>
    <tr>
      <th scope="row"><s>Fortlaufende Nummer der Änderung des Plans</s></th>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Kommentierende Beschreibung des Bebauungsplans</th>
      <td>Bebauungsplan "<b>{{ bplan.name }}</b>" der Kommune(n): {{ bplan.gemeinde.all|join:", " }}</td>
    </tr>
    <tr>
      <th scope="row">Amtliche(r) Gemeindeschlüssel (AGS)</th>
      <td>{% for single_gemeinde in bplan.gemeinde.all %}{{ single_gemeinde.ls }}{{ single_gemeinde.ks }}{{ single_gemeinde.gs }};{% endfor %}</td>
    </tr>
    <tr>
      <th scope="row"><s>Planart</s></th>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Rechtsstand</th>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Datum des Aufstellungsbeschlusses</th>
      <td>{{ bplan.aufstellungsbeschluss_datum|default:"nicht erfasst" }}</td>
    </tr>
    <tr>
      <th scope="row">Datum des Satzungsbeschlusses</th>
      <td>{{ bplan.satzungsbeschluss_datum|default:"nicht erfasst" }}</td>
    </tr>
    <tr>
      <th scope="row">Ausfertigungsdatum</th>
      <td>{{ bplan.ausfertigungs_datum|default:"nicht erfasst" }}</td>
    </tr>
    <tr>
      <th scope="row">Datum des Inkrafttretens</th>
      <td>{{ bplan.inkrafttretens_datum|default:"nicht erfasst" }}</td>
    </tr>
    <tr>
      <th scope="row">Erstellungsmassstab</th>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Besonderheiten</th>
      <td></td>
    </tr>
    {% for anlage in bplan.attachments.all %}
    <tr>
      <th scope="row">Anlage vom Typ <i>{{ anlage.get_typ_display }}</i></th>
      <td><a href="{% url 'bplanattachment-download' pk=anlage.id %}">{{ anlage.name }}</a></td>
    </tr>
    {% endfor %}
    {% for beteiligung in bplan.beteiligungen.all %}
    <tr>
      <th scope="row">Beteiligung <i>{{beteiligung.get_typ_display }}</i> - Bekanntmachung</th>
      <td>{{ beteiligung.bekanntmachung_datum }}</td>
    </tr>
    <tr>
      <th scope="row">Beteiligung <i>{{beteiligung.get_typ_display }}</i> - Beginn</th>
      <td>{{ beteiligung.start_datum }}</td>
    </tr>
    <tr>
      <th scope="row">Beteiligung <i>{{beteiligung.get_typ_display }}</i> - Ende</th>
      <td>{{ beteiligung.end_datum }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th scope="row"><s>Nummer der Gemarkung</s></th>
      <td></td>
    </tr>
    {% for gemeinde in bplan.gemeinde.all %}
    <tr>
      <th scope="row">Inhaltlich für den Plan verantwortliche Organisation</th>
      <td>{{ gemeinde.contacts.first.name }}</td>
    </tr>
    <tr>
      <th scope="row"><s>Adresse der Organisation</s></th>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Telefonnummer der Organisation</th>
      <td>{{ gemeinde.contacts.first.phone }}</td>
    </tr>
    <tr>
      <th scope="row">Faxnummer der Organisation</th>
      <td>{{ gemeinde.contacts.first.facsimile }}</td>
    </tr>
    <tr>
      <th scope="row">E-Mail der Organisation</th>
      <td>{{ gemeinde.contacts.first.email }}</td>
    </tr>
    {% endfor %}
    <tr>
      <th scope="row">XPlan-GML V 6.0</th>
      <td><a href="{% url 'bplan-export-xplan-raster-6' pk=bplan.id %}">GML herunterladen</a></td>
    </tr>
    <tr>
      <th scope="row">XPlan-ZIP-Archiv V 6.0</th>
      <td><a href="{% url 'bplan-export-xplan-raster-6-zip' pk=bplan.id %}">ZIP-Archiv herunterladen</a></td>
    </tr>
    <tr>
      <th scope="row">Geo-Metadaten (ISO19139)</th>
      <td><a href="{% url 'bplan-export-iso19139' pk=bplan.id %}">GML herunterladen</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}