{% extends "xplanung_light/layout.html" %}
{% block title %}
    Anlagen zum Bebauungsplan
{% endblock %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% block content %}
<p>Anlagen zum Bebauungsplan <b><a href="{% url 'bplan-update' pk=bplan.id %}">{{ bplan.name }}</a></b> der Kommune(n):<br>
    <ul>
        {% for gemeinde in bplan.gemeinde.all %}<li>{{ gemeinde }}</li>{% endfor %}
    </ul>
</p>  
<p><a class="btn btn-success" role="button" href="{% url 'bplanattachment-create' planid=bplan.id %}">Anlage erstellen</a></p>
{% render_table table %}
<p>Anzahl: {{ bplanspezexternereferenz_list.count }}</p>
{% endblock %}