<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Author: Armin Retterath, XPlanung, Django, Formular, Easy, kostenfrei, Open Source"/>
    <title>{% block title %}Nix gefunden ;-){% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'xplanung_light/site.css' %}"/> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    Nix gefunden ;-)
</body>
</html>