{% extends "xplanung_light/layout.html" %}
{% load leaflet_tags %}
{% block title %}
    Liste der Flächennutzungspläne
{% endblock %}
{% load render_table from django_tables2 %}
{% block content %}
{{ markers|json_script:"markers-data" }}
<script>
<!-- javascript-Part - siehe nächster Abschnitt -->
let mapGlobal = {};
let highlightGlobal = {}

function highlightObject(i) {
    if (typeof highlightGlobal.remove === "function") { 
        highlightGlobal.remove();
        highlightGlobal = {};
    }
    for (var id in mapGlobal._layers) {
        const layer = mapGlobal._layers[id]
        if (typeof layer.feature !== "undefined") {
            if (layer.feature.id == i) {
                highlightGlobal = L.geoJSON(layer.feature, {
                    style: {color: "rgb(255, 208, 0)"}
                }).addTo(mapGlobal);
            }
        }
    }
}

function map_init_basic (map, options) {
    mapGlobal = map;
    //https://stackoverflow.com/questions/43007019/leaflet-event-how-to-propagate-to-overlapping-layers
    const data = document.getElementById("markers-data");
    const markers = JSON.parse(data.textContent);
    map.setZoom(14);
    let feature = L.geoJSON(markers, {
            style: function(feature) {
                switch (feature.properties.planart) {
                    case '1000': return {color: "#ff0000"};
                    case '10000':   return {color: "#0000ff"};
                }
            }
        }
    )
    .addTo(map);       
    map.fitBounds(feature.getBounds());
    var popup = L.popup()
    map.on('click', e => {
        //var thisMap = map;
        const { lat, lng } = e.latlng;
        const point = turf.point([lng, lat]);
        const polygonsClicked = [];
        //console.log(map._layers)
        for (var id in map._layers) {
            const layer = map._layers[id]
            if (typeof layer.feature !== "undefined"){
                //map._layers.forEach((p, i) => {
                //const polygon= p.toGeoJSON();
                const polygon = layer.feature;
                //console.log(polygon)
                //console.log(point)
                if (turf.booleanPointInPolygon(point, polygon)) polygonsClicked.push(layer);
            }
        }
        if (polygonsClicked.length > 0) {
            popupContent = "Dokument(e):<br>";
            for (var id in polygonsClicked) {
                //console.log(polygonsClicked[id]);
                bounds = polygonsClicked[id].getBounds();
                //console.log(bounds);
                popupContent += "<a onclick='mapGlobal.fitBounds([[" + bounds._southWest.lat + ", " + bounds._southWest.lng + "], [" + bounds._northEast.lat + ", " + bounds._northEast.lng + "]]);highlightObject(" + polygonsClicked[id].feature.properties.pk + ");'><i class='fa fa-search-plus' aria-hidden='true'></i></a> ";
                popupContent += "<a href='../fplan/" + polygonsClicked[id].feature.properties.pk + "/'><b>" + polygonsClicked[id].feature.properties.name + " (" + polygonsClicked[id].feature.properties.pk + ")</b></a>; Planart: " + polygonsClicked[id].feature.properties.planart;
                popupContent += " - <a href='../fplan/" + polygonsClicked[id].feature.properties.pk + "/xplan/' target='_blank'>XPlan-GML" + "</a><br>";
            }
            popup
                .setLatLng(e.latlng)
                .setContent(popupContent)
                .openOn(map);
        } else {
        }
    });
    map.on('popupclose', function(e){
        if (typeof highlightGlobal.remove === "function") { 
            highlightGlobal.remove();
        }
    });
}
</script>
{% leaflet_map "fplan_list_map" callback="window.map_init_basic" %}
Filter
<!-- add boostrap form css - if wished -->
{% load django_bootstrap5 %}
<form method="get" action="">
    {{ filter.form.as_p }}
    <input type="submit" /><a href="{% url 'fplan-public-list' %}">Filter löschen</a>.</p>
    <label for="per_page">Pro Seite:</label>
    <select name="per_page" onchange="this.form.submit()">
        {% for val in per_page_options %}
        <option value="{{ val }}" {% if request.GET.per_page == val|stringformat:"i" %}selected{% endif %}>
            {{ val }}
        </option>    
        {% endfor %}
    </select>
</form>
<!-- https://stackoverflow.com/questions/44572682/dynamically-set-per-page-in-django-tables2 -->
 <div class="table-info">
    <p>
        <strong>Gesamt:</strong> {{ table.rows|length }} Einträge gefunden.
        {% if table.page %}
            (Seite {{ table.page.number }} von {{ table.page.paginator.num_pages }})
        {% endif %}
    </p>
</div>
{% render_table table %}
<p>Anzahl: {{ object_list.count }}</p>
{% endblock %}