{% extends "xplanung_light/layout.html" %}
{% load django_bootstrap5 %}

{% load render_form from formsetify %}
{% bootstrap_css %}
{% block title %}
    Beteiligungsverfahren zum Flächennutzungsplan
{% endblock %}
{% block content %}
<p>Beteiligung zum Flächennutzungsplan <b>{{ fplan.name }}</b> der Kommune(n):<br>
    <ul>
        {% for gemeinde in fplan.gemeinde.all %}<li>{{ gemeinde }}</li>{% endfor %}
    </ul>
</p>  
<django-formset endpoint="{{ request.path }}" csrf-token="{{ csrf_token }}">
  {% render_form form "bootstrap" field_classes="mb-2" form_classes="rounded-xl"%}
  <div>
    {% if extra_context.create %}
    <button type="button" class="btn btn-primary" df-click="submit -> proceed">Erstellen</button>
    {% endif %}
    {% if extra_context.update %}
    <button type="button" class="btn btn-primary" df-click="submit -> proceed">Aktualisieren</button>
    {% endif %}
  </div>
</django-formset>

{% endblock %}