{% extends "xplanung_light/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Flächennutzungsplan anlegen
{% endblock %}
{% block content %}
<script type="text/javascript">
    window.addEventListener("map:init", function(e) {
            var detail = e.detail;
            var map = detail.map;
            /* Transparent overlay layers */
            var wmsLayer = L.tileLayer.wms('https://geo5.service24.rlp.de/wms/liegenschaften_rp.fcgi?', {
                layers: 'Flurstueck',
                format: 'image/png',
                maxZoom: 20,
                transparent: true,
            }).addTo(map);
        }, false
    ); //end of window.addEventListener
    // function for zooming to some extent - https://django-leaflet.readthedocs.io/en/latest/widget.html#programmatically-appended-maps
    function zoomToExtent(select) {
        var selectedOption = select.options[select.selectedIndex];
        var bbox = selectedOption.getAttribute('bbox');
        bbox = bbox.replace("(", "").replace(")", "").split(",");
        console.log(bbox)
        window['leafletmapid_geltungsbereich-map'].fitBounds([[ bbox[1], bbox[0] ], [bbox[3], bbox[2]]]);
    }
    function zoomToSelectedOptionsExtent(that) {
        //if array not empty!
        //initialBbox = selectedOptions[0].bbox.replace("(", "").replace(")", "").split(",");
        let selectedOptions = Array.from(that.selectedOptions)
        let bbox = [0.0, 0.0, 0.0, 0.0];
        Array.prototype.map.call(selectedOptions, tag => {
            let single_bbox = tag.getAttribute('bbox').replace("(", "").replace(")", "").split(",");
            let single_bbox_float = single_bbox.map((str) => parseFloat(str));
            //transform to float
            if (bbox[0] == 0.0) {
                bbox[0] = single_bbox_float[0]
            } else {
                if (single_bbox_float[0] < bbox[0]) {
                    bbox[0] = single_bbox_float[0]
                }
            }
            if (bbox[1] == 0.0) {
                bbox[1] = single_bbox_float[1]
            } else {
                if (single_bbox_float[1] < bbox[1]) {
                    bbox[1] = single_bbox_float[1]
                }
            }
            if (bbox[2] == 0.0) {
                bbox[2] = single_bbox_float[2]
            } else {
                if (single_bbox_float[2] > bbox[2]) {
                    bbox[2] = single_bbox_float[2]
                }
            }
            if (bbox[3] == 0.0) {
                bbox[3] = single_bbox_float[3]
            } else {
                if (single_bbox_float[3] > bbox[3]) {
                    bbox[3] = single_bbox_float[3]
                }
            }
            //console.log(tag.getAttribute('bbox'));
        });
        if (bbox[0] != 0) {
            window['leafletmapid_geltungsbereich-map'].fitBounds([[ bbox[1], bbox[0] ], [bbox[3], bbox[2]]]);
        }
    }
</script>
<script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.js"></script>
<!-- https://simpleisbetterthancomplex.com/tutorial/2018/11/28/advanced-form-rendering-with-django-crispy-forms.html -->
{% crispy form %}
{% endblock %}