
{% extends "xplanung_light/xplan_detail_top.html" %}

{% block title %}
<center>
<h3>Flächennutzungsplan "<b>{{ fplan.name }}</b>"</h3>
</center>
<center>
{% for gemeinde in fplan.gemeinde.all %}
    <img width="120px" height="132px" src="{{ gemeinde.coat_of_arms_url }}">
{% endfor %}
</center>
<center>{{ fplan.gemeinde.all|join:" | " }}</center>
<center>Wirksam seit: <b>{{ fplan.wirksamkeits_datum }}</b></center>
{% endblock %}
{% block content %}
<table class="table">
  <thead>
   <!-- <tr>
      <th scope="col">Attribut</th>
      <th scope="col">Wert</th>
    </tr> -->
  </thead>
  <tbody>
    <tr>
      <th scope="row">Lage (Übersicht)</th>
      {% if gemeinden_extent %}
      <td><img width="200px" height="200px" src="{% url 'fplan-overview-map' pk=fplan.id%}?VERSION=1.3.0&REQUEST=GetMap&SERVICE=WMS&LAYERS=topplus,umring&STYLES=,&CRS=EPSG:25832&BBOX={{gemeinden_extent.0}},{{gemeinden_extent.1}},{{gemeinden_extent.2}},{{gemeinden_extent.3}}&WIDTH=200&HEIGHT=200&FORMAT=image/png&BGCOLOR=0xffffff&TRANSPARENT=TRUE&EXCEPTIONS=inimage"></td>
      {% endif %}
    </tr>
    <tr>
      <th scope="row">Lage (Detail)</th>
            <td><img width="200px" height="200px" src="{% url 'fplan-overview-map' pk=fplan.id%}?VERSION=1.3.0&REQUEST=GetMap&SERVICE=WMS&LAYERS=topplus,umring&STYLES=,&CRS=EPSG:25832&BBOX={{extent.0}},{{extent.1}},{{extent.2}},{{extent.3}}&WIDTH=200&HEIGHT=200&FORMAT=image/png&BGCOLOR=0xffffff&TRANSPARENT=TRUE&EXCEPTIONS=inimage"></td>
    </tr>
    <tr>
      <th scope="row">Planart</th>
      <td>{{ fplan.get_planart_display }}</td>
    </tr>
    <tr>
      <th scope="row">Name des Plans</th>
      <td>{{ fplan.name }}</td>
    </tr>
    <tr>
      <th scope="row">Nummer des Plans</th>
      <td>{{ fplan.nummer }}</td>
    </tr>
    <tr>
      <th scope="row">Kommentierende Beschreibung des Flächennutzungsplans</th>
      {% if fplan.beschreibung %}
      <td>{{ fplan.beschreibung }}</td>
      {% else %}
      <td>Flächennutzungsplan "<b>{{ fplan.name }}</b>" der Kommune(n): {{ fplan.gemeinde.all|join:", " }}</td>
      {% endif %}
    </tr>
    <tr>
      <th scope="row">Amtliche(r) Gemeindeschlüssel (AGS)</th>
      <td>{% for single_gemeinde in fplan.gemeinde.all %}{{ single_gemeinde.ls }}{{ single_gemeinde.ks }}{{ single_gemeinde.gs }};{% endfor %}</td>
    </tr>
    <tr>
      <th scope="row">Rechtsstand</th>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Erstellungsmassstab</th>
      <td>{{ fplan.massstab|default:"--" }}</td>
    </tr>
    {% if fplan.attachments %}
    <tr>
      <td colspan="2">
        <table class="table mb-0">
          <tr>
            <thead>
              <b>Dokumente</b>
            </thead>
          </tr>
          {% for anlage in fplan.attachments.all %}
          <tr>
            <td><a href="{% url 'fplanattachment-download' pk=anlage.id %}">{{ anlage.name }} (<i>{{ anlage.get_typ_display }})</a></td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    {% endif %}
    {% if fplan.beteiligungen %}
    <tr>
      <td colspan="2">
        <table class="table mb-0">
          <tr>
            <thead>
              <b>Beteiligungsverfahren</b>
            </thead>
          </tr>
          {% for beteiligung in fplan.beteiligungen.all %}
          <tr>
            <td>{{ beteiligung.bekanntmachung_datum }}: <a href="">{{beteiligung.get_typ_display }}</a></td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    {% endif %}
    <tr>
      <td colspan="2">
        <table class="table mb-0">
          <tr>
            <thead>
              <b>Historie</b>
            </thead>
          </tr>
          <tr>
            <th scope="row">Aufstellungsbeschluss</th>
            <td>{{ fplan.aufstellungsbeschluss_datum }}</td>
          </tr>
          {% if fplan.planbeschluss_datum %}
          <tr>
            <th scope="row">Planbeschluss</th>
            <td>{{ bplan.satzungsbeschluss_datum }}</td>
          </tr>
          {% endif %}
            <th scope="row">Wirksamkeit</th>
            <td>{{ fplan.wirksamkeits_datum }}</td>
          </tr>
        </table>
      </td>
    </tr>
    {% if fplan.gemeinde %}
    <tr>
      <td colspan="2">
        <table class="table mb-0">
          <tr>
            <thead>
              <b>Auskunft</b>
            </thead>
          </tr>
          <tr>
          {% for gemeinde in fplan.gemeinde.all %}
            <td>
              <b>{{ gemeinde }}</b><br>
              {{ gemeinde.contacts.first.name }} - {{ gemeinde.contacts.first.unit }}<br>
              <a href="mailto:gemeinde.contacts.first.email">{{ gemeinde.contacts.first.email }}</a><br>
              <b>Tel.:</b> {{ gemeinde.contacts.first.phone }}<br>
              <b>Fax.:</b> {{ gemeinde.contacts.first.facsimile }}
            </td>
          {% endfor %}
          </tr>
        </table>
      </td>
    </tr>
    {% endif %}
    <tr>
      <th scope="row">XPlan-GML V {% if fplan.xplan_gml_version %}{{ fplan.xplan_gml_version }}{% else %}6.0{% endif %}</th>
      <td><a href="{% url 'fplan-export-xplan-raster-6' pk=fplan.id %}">GML herunterladen</a></td>
    </tr>
    <tr>
      <th scope="row">XPlan-ZIP-Archiv V {% if fplan.xplan_gml_version %}{{ fplan.xplan_gml_version }}{% else %}6.0{% endif %}</th>
      <td><a href="{% url 'fplan-export-xplan-raster-6-zip' pk=fplan.id %}">ZIP-Archiv herunterladen</a></td>
    </tr>
    <tr>
      <th scope="row">Geo-Metadaten (ISO19139)</th>
      <td><a href="{% url 'fplan-export-iso19139' pk=fplan.id %}">GML herunterladen</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}