{% extends "xplanung_light/layout.html" %}
{% load django_bootstrap5 %}
{% load richtext %}
{% bootstrap_css %}
{% block title %}
Details zu Ihrer Stellungnahme
{% endblock %}
{% block content %}
{% if beitrag %}
<p>{{ beteiligung.get_typ_display }} zum Plan <b>{{ plan.name }}</b> der Kommune(n):<br>
    <ul>
        {% for gemeinde in plan.gemeinde.all %}<li>{{ gemeinde }}</li>{% endfor %}
    </ul>
</p>  
<p>Beteiligung möglich bis zum <!--<i title="Datumsangabe" class="fa-regular fa-calendar"></i>-->{{ beteiligung.end_datum }}</p>
{% endif %}
<hr>
<h3>{% if user.is_anonymous %}Ihre{% endif %} Stellungnahme vom {{ beitrag.last_changed }}</h3>
<p>EMail Absender: {{ beitrag.email }}</p> 
{% if beitrag.approved is False %}
    <a href="{% url 'beteiligungbeitrag-activate' plantyp=plantyp planid=plan.id beteiligungid=beteiligung.id generic_id=beitrag.generic_id|stringformat:"s" %}" class="btn btn-primary active" role="button" aria-pressed="true">Stellungnahme freigeben</a>
{% else %}
    {% if user.is_anonymous %}
        {% if beitrag.withdrawn is False %}
            <a href="{% url 'beteiligungbeitrag-withdraw' plantyp=plantyp planid=plan.id beteiligungid=beteiligung.id generic_id=beitrag.generic_id|stringformat:"s" %}" class="btn btn-danger active" role="button" aria-pressed="true">Stellungnahme zurückziehen</a>
        {% endif %}
    {% else %}
        <a href="{% url 'beteiligungbeitrag-delete' plantyp=plantyp planid=plan.id beteiligungid=beteiligung.id pk=beitrag.id %}" class="btn btn-danger active" role="button" aria-pressed="true">Stellungnahme löschen</a>
    {% endif %}
{% endif %}
{% if beitrag.withdrawn is True %}
    <a href="{% url 'beteiligungbeitrag-reactivate' plantyp=plantyp planid=plan.id beteiligungid=beteiligung.id generic_id=beitrag.generic_id|stringformat:"s" %}" class="btn btn-primary active" role="button" aria-pressed="true">Stellungnahme reaktivieren</a>
{% endif %}
<hr>
<h4>{{ beitrag.titel }}</h4>
<p>{% render_richtext beitrag.beschreibung %}</p>
{% if beitrag.attachments.count > 0 %}
<h4>Anlagen</h4>
<ul>
{% for attachment in beitrag.attachments.all %}
<li><a href="{% url 'beteiligung-beitrag-attachment-download' plantyp=plantyp pk=attachment.pk %}">{{ attachment.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
