{% extends "xplanung_light/layout.html" %}

{% block title %}
Home
{% endblock %}
{% block content %}
<!-- <h1>Dashboard</h1> -->
<style>
    .card-title {text-align:center; font-weight: bold;}
</style>

<div class="row row-cols-1 row-cols-md-3 g-4">
  {% if user.is_authenticated %}
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gebietskörperschaften<br>{{ orga_info.objects_with_public_plans }}</h5>
        <p class="card-text">Gebietskörperschaften, die aktuell Bebauungs- und Flächennutzungspläne publizieren.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Registrierte Organisationen: <a href="{%url 'organization-list' %}">{{ orga_info.all_objects }}</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bebauungspläne<br><a href="{%url 'bplan-list' %}?is_public=on">{{ bplan_info.public_objects }}</a></h5>
        <p class="card-text">Zahl der über die Plattform publizierten Bebauungspläne.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Registrierte Bebauungspläne: <a href="{%url 'bplan-list' %}">{{ bplan_info.all_objects }}</a></small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Flächennutzungspläne<br><a href="{%url 'fplan-list' %}?is_public=on">{{ fplan_info.public_objects }}</a></h5>
        <p class="card-text">Zahl der über die Plattform publizierten Flächennutzungspläne.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Registrierte Flächennutzungspläne: <a href="{%url 'fplan-list' %}">{{ fplan_info.all_objects }}</a></small>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Laufende Beteiligungsverfahren<br><a href="{%url 'beteiligungen' %}">{{ beteiligungen_info.actual_public_objects }}</a></h5>
        <p class="card-text">Bekanntgegebene Beteiligungsverfahren zu Bebauungs- und Flächennutzungsplänen. Die Verfahren wurde noch nicht abgeschlossen.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
</div>
{% endblock %}