{% extends "xplanung_light/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>Einfache Webanwendung zur Verwaltung kommunaler Pläne gemäß dem aktuellen Standard <a href="https://xleitstelle.de/xplanung" target="_blank">XPlanung</a></p>
<p>Der Betreiber übernimmt keinerlei Verantwortung für die Funktionsfähigkeit und Zuverlässigkeit der Anwendung. Es handelt sich nur um ein <b>Proof of Concept</b>. Solange die Anwendung online ist, kann und darf sie von jedermann kostenfrei verwendet werden. Für die Sicherheit der Daten wird ebenfalls keine Verantwortung übernommen. Nutzer sollten nur ihre eigenen Daten sehen und editieren können. Das Projekt dient als Test zur Prüfung von Funktionen des zugrundeliegenden Webframeworks <a href="https://www.djangoproject.com/" target="_blank">Django</a> und wurde innerhalb weniger Tage unter Nutzung von <a href="https://docs.djangoproject.com/en/5.0/topics/class-based-views/generic-display/" target="_blank">class-based generic views</a> umgesetzt ;-) .</p>
<h4>Funktionen</h4>
<ul>
    <li>Homepage</li>
    <li>Authentifizierung gegen Datenbank</li>
    <li>Registrierung</li>
    <li>Admin-Backend</li>
    <li>...</li>
</ul>
<h4>Technische Informationen</h4>
<ul>
    <li><a href="#" target="_blank">Projekt auf GitHub</a></li>
    <li><a href="#" target="_blank">Github Repo der ...</a></li>
    <li><a href="#" target="_blank">Standard</a></li>
</ul>
<h4>Validatoren</h4>
<ul>
    <li><a href="#" target="_blank">...</a></li>
</ul>
{% endblock %}