{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# load leaflet specific parts #}
{% load leaflet_tags %}
{% leaflet_css plugins="ALL" %}
{% leaflet_js plugins="ALL" %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Author: Armin Retterath, XPlanung, Django, Formular, Easy, kostenfrei, Open Source"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@7/turf.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'xplanung_light/site.css' %}"/>
    <!-- django-formset -->
    <script type="module" src="{% static 'formset/js/django-formset.js' %}"></script>
    <link href="{% static 'formset/css/bootstrap5-extra.css' %}" rel="stylesheet">
    <link href="{% static 'formset/css/collections.css' %}" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <!-- https://django-formset.fly.dev/installation/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'xplanung_light/site.css' %}"/> -->
</head>
<body>
    <!-- https://getbootstrap.com/docs/5.0/components/navbar/ -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">XPlanung light</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Pläne und Satzungen
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item"><a class="nav-link" aria-current="page" href="{% url 'bplan-list' %}">Bebauungspläne</a></li>
                  <li class="dropdown-item"><a class="nav-link" aria-current="page" href="{% url 'fplan-list' %}">Flächennutzungspläne</a></li>
                </ul>
              </li> 
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Organisationen
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item"><a class="nav-link" aria-current="page" href="{% url 'organization-list' %}">Meine Gebietskörperschaften</a></li>
                  <li class="dropdown-item"><a class="nav-link" aria-current="page" href="{% url 'contact-list' %}">Meine Kontaktstellen</a></li>
                  <!-- <li class="dropdown-item"><a class="nav-link" aria-current="page" href="{% url 'organization-publishing-list' %}">Übersicht Schnittstellen</a></li> -->
                  <!--<li><hr class="dropdown-divider"></li>-->
                </ul>
              </li>
              <li class="nav-item">
                 <a class="nav-link" aria-current="page" href="{% url 'organization-publishing-list' %}">Liste / Übersicht</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Anträge
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                  {% if user.is_superuser %}
                      <li class="dropdown-item"><a class="nav-link" aria-current="page" href="{% url 'requestforadmin-admin-list' %}">Admin-Berechtigung</a></li>
                  {% else %}
                      <li class="dropdown-item"><a class="nav-link" aria-current="page" href="{% url 'requestforadmin-list' %}">Admin-Berechtigung</a></li>
                  {% endif %}
                  <!-- <li class="dropdown-item"><a class="nav-link" aria-current="page" href="{% url 'contact-list' %}">Meine Kontaktstellen</a></li>-->
                  <!-- <li class="dropdown-item"><a class="nav-link" aria-current="page" href="{% url 'organization-publishing-list' %}">Übersicht Schnittstellen</a></li> -->
                  <!--<li><hr class="dropdown-divider"></li>-->
                </ul>
              </li>
              {% if user.is_superuser %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Administrator
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'aggregates' %}">Schnittstellen (Aggregate)</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'admin:index' %}">Admin Backend</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'consentoption-list' %}">Nutzungsbedingungen/Datenschutz</a>
                  </li>
                </ul>
              </li>
              {% endif %}
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'about' %}">Über</a>
              </li>
            </ul>
            <div class="d-flex">
                {% if user.is_authenticated %}
                <p>
                    Angemeldeter Benutzer: {{ user.username }} <br>
                    <a href="{% url 'logout' %}">Abmelden</a>
                </p>
                {% else %}
                <a href="{% url 'login' %}">Anmelden</a>
                {% endif %}
            </div>
          </div>
        </div>
    </nav>
    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            <p>&copy; 2026</p>
            <p><a href="{% url 'datenschutz' %}">Datenschutzhinweise</a></p>
            <p><a href="{% url 'impressum' %}">Impressum</a></p>
            <p>powered by <a href="https://mrmap-community.github.io/xplanung_light/" target="_blank">xplanung-light</a> & <a href="https://www.djangoproject.com/" target="_blank">Django</a></p>
        </footer>
    </div>
</body>
</html>